<div class="menu" id="menu">
    <div class="menuheader">
        <h1 class="ralewayReg">OUR MENU</h1>
    </div>
    <div>
        <div class="dish1">
            <div class="menuimg">
                <img src="assets/img/R1.png">
            </div>
            <div class="menutable1">
                <h2 class="economica">Tonkotsu Ramen</h2>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td style="width: 280px; text-align: end;">11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td style="width: 280px; text-align: end;">12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td style="width: 280px; text-align: end;">13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dish2">
            <div class="menuimg2">
                <img src="assets/img/R2.png">
            </div>
            <div class="menutable2">
                <h2 class="economica">Spicy Miso Ramen</h2>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td style="width: 280px; text-align: end;">11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td style="width: 280px; text-align: end;">12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td style="width: 280px; text-align: end;">13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dish3">
            <div class="menuimg">
                <img src="assets/img/R3.png">
            </div>
            <div class="menutable3">
                <h2 class="economica">Shio Ramen</h2>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td style="width: 280px; text-align: end;">11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td style="width: 280px; text-align: end;">12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td style="width: 280px; text-align: end;">13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>