<div class="order">
    <h1 class="ralewayBold">HOW TO ORDER</h1>
    <div class="imagetext">
        <div class="orderimg">
            <div class="ordertext">
                <img src="assets/img/noodle.png">
                <h2 class="economica">Pick your noodle</h2>
            </div>
            <div class="ordertext">
                <img src="assets/img/broth.png">
                <h2 class="economica">Pick your broth</h2>
            </div>
            <div class="ordertext margin-end-order">
                <img src="assets/img/egg.png">
                <h2 class="economica">Add your toppings</h2>
            </div>
        </div>
    </div>
</div>